html{
    font-size: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Barlow', sans-serif;
    letter-spacing: .1em;
    width: 100vw;
    height: 100vh;
    background-color: darkslategray;
}
body{
    position: absolute;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100%;
}
#inv-box{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    width: 710px;
    border: 3px solid red;
}
#trade-box{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(2,140px);
    grid-row: 140px;
    width: 710px;
    height: 282px;
    border: 3px solid blue;
}
.inv-item{
    position: relative;
    width: 140px;
    height: 140px;
    background-size: contain;
    background-repeat: no-repeat;
    color: rgba(255, 255, 255,0);
    border: 1px solid white;
    background-color: rgb(41, 41, 41);
    background-position: center;
    padding: 0;
    margin: 0;
}
.inv-item:hover{
    color: rgba(255, 255, 255,1);
    background-color: rgba(50, 50, 50,.9);
}
.inspect_anchor{
    position: absolute;
    color: white;
    display: content;
    background-color: rgb(21, 21, 21);
    border-radius: 5px;
    text-align: center;
    width: 60px;
    height: 20px;
    bottom: 5px;
    right: 5px;
    font-size: small;
    text-decoration: none;
}
.inspect_anchor:hover{
    background-color: rgb(40, 40, 40);
}
.market_anchor{
    position: absolute;
    font-size: small;
    color: white;
    display: content;
    background-color: rgb(21, 21, 21);
    border-radius: 5px;
    text-align: center;
    width: 60px;
    height: 20px;
    bottom: 5px;
    left: 5px;
    text-decoration: none;
}
.market_anchor:hover{
    background-color: rgb(40, 40, 40);
}
#trade-button{
    height: 60px;
    width: 120px;
    color: white;
    align-content: center;
    text-align: center;
    background-color: green;
}
#for-section{
    position: absolute;
    top: 300px;
    grid-row: 140px;
    width: 716px;
    left: 890px;
    height: 602px;
}
#search-input-box{
    height: 20px;
    display: block;
}
#search-box{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(2,140px);
    grid-row: 140px;
    width: 710px;
    height: 282px;
    background-color: rgb(21, 21, 21);
    border: 3px solid pink;
}
#for-box{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(2,140px);
    background-color: rgb(21, 21, 21);
    grid-row: 140px;
    width: 710px;
    height: 282px;
    border: 3px solid cyan;
}
.search-item{
    position: relative;
    border: 1px solid rgb(210, 210,210);
    width: 140px;
    height: 140px;
    background-size: contain;
    background-repeat: no-repeat;
    color: white;
    border: 1px solid white;
    background-color: rgb(41, 41, 41);
    background-position: center;
    padding: 0;
    margin: 0;
}
.search-item:hover{
    background-color: rgba(50, 50, 50,.9);
}
#wildcard-box{
    display: grid;
    position: absolute;
    grid-template-rows: repeat(4,140px);
    width: 142px;
    height: 282px;
    top: 325px;
    background-color: rgb(21, 21, 21);
    border: 3px solid yellow;
    right: 140px;
}
.wildcard{
    height: 140px;
    width: 140px;
    border: 1px solid pink;
    color: white;
    text-align: center;
}
.wildcard p{
   position: relative;
   padding: 0;
   margin: 0;
   top: 110px;
}
.wildcard:hover{
    background-color: rgba(50, 50, 50,.9);
}
#login{
    display: block;
    margin: 0 auto;
    height: 66px;
    width: 109px;
    border-radius: 5px;
    background-image: url('https://community.akamai.steamstatic.com/public/images/signinthroughsteam/sits_02.png');
}
#user-box{
    position: absolute;
    height: 66px;
    width: 109px;
    right: 65px;
    top: 70px;
}
#user-box a{
    color: white;
    text-decoration: none;
}
#avatar{
    border-radius: 5px;
    height: 60px;
    width: 60px;

}
#home_link{
    position:absolute;
    right: 30px;
    top: 70px;
    height: 60px;
    width: 70px;
    background-color: rgb(26, 68, 181);
    text-decoration: none;
}
#home_link h3{
    color: white;
    width: 100%;
    text-align: center;
    padding: auto 0;

}
#home_link:hover{
    background-color: rgb(26, 127, 181);
}
